:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.dashboard {
    height: 580px;
    width: 520px;
    position: fixed;
    left: calc(50vw - 260px);
    top: calc(50vh - 290px);
    border-radius: 30px;
    background: #ae5f04;
    box-shadow: 20px 20px 110px #694114, -20px -20px 110px #242424;
}

.inboard {
    height: 480px;
    width: 480px;
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #4fa738, #5ec642);
    box-shadow: inset 10px 10px 20px #8bbb7e, inset -10px -10px 20px #abdc9e;
}

.dash_button {
    height: 40px;
    width: 80px;
    position: absolute;
    top: 520px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Microsoft Yahei', '楷体';
    font-size: 15px;
    line-height: 40px;
    font-weight: 200;
    color: #878787;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-shadow: 2px 2px 2px #bebebe;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    padding: 0em;
}

.dash_button:active {
    box-shadow: inset 8px 4px 8px #bebebe, inset -8px -4px 8px #ffffff;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    body {
        background-color: #e0e0e0;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
        border: 0px;
    }

    .dashboard {
        box-shadow: 52px 58px 110px #C9a881, -52px -58px 110px #ffffff;
    }
}